.homepage-wrapper{
  padding-top: 6rem;
  @media only screen and (max-width: 103.12em ){
    padding-top: 3rem;
  }
}

.cards-wrapper{
  padding: 15rem 12rem 10rem 15rem;
  @media only screen and (max-width: 103.12em ){
    padding: 6rem 3rem 5rem 3rem;
  }


  &__header{
    font-size: 2.4rem;
    padding-bottom: 7rem;
    text-align: center;
  }
  &__other-teams{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    text-decoration: none;
  }
  &__green{
    font-size: 3rem;
    color: #21AC54;
    padding-right: 1rem;
  }
  &__svg{
    fill: #21AC54;
    width: 3.8rem;
    height: 2.6rem;
  }
}