.big-button{
  background-color: #FD074E;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  cursor:pointer;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;

  &:hover{
    transform: translateY(-1.5px);
    box-shadow: 0 1rem 2rem rgba(#000000, 0.2);
    &::after{
      transform: scale(1.5);
      opacity: 0;
    }
  }
  &__img{
    padding-left: 2.5rem;
  }

  &__text{
    padding-left: 1.8rem;
    font-size: 2.2rem;
  }

}

.purple-btn{
  background-color: #6843CF;
  width: 27rem;
  padding: 0.8rem;
  &__fix{
    padding: 5rem;
  }
}
