
.directory-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  grid-column-gap: 4.2rem;
  grid-row-gap: 7rem;
  justify-content: center;
  @media only screen and (max-width: 103.12em ){
    grid-column-gap: 3.2rem;
    grid-row-gap: 5rem;
  }
}
